body {
  margin: 0;
}

.flex {
  display: flex;
}

.flex.full-height {
  /* vh is viewport height, not using % because it wouldnt change it */
  height: 100vh;
}

.flex.column {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

ul {
  /*populates the rest of the viewport*/
  flex: 1;
  /*will automatically put a scroll inside*/
  overflow: auto;
}
